
body{
    background-color: aqua !important;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    text-align: center !important;
    gap: 3rem  !important ;
  }
  span{
    font-weight: bold;
  }
  .card{
    border-radius: 5px;
    box-shadow: 5px 5px 2px  rgb(230, 198, 198);
    background-color:whitesmoke;
    width:20rem;
    height: 29rem;
   
  }
  .flag{
    justify-content: center;
    place-content: center;
    text-align: center;
    width:10rem;
    height: 10rem;
    margin:auto;
  }
  .car{
    line-height: normal;
  }
  
  